@charset "utf-8";

@import url(https://everythingfonts.com/font/face/d-1t3F-8EeK0JVDlSVDSjg);

/* reset */
* {
	margin: 0;
	padding: 0;
	border: 0;
    font: inherit;
	box-sizing : border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html {
	width: 100%;
    height: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {
    font-family: "맑은 고딕", Malgun Gothic, Dotum, sans-serif;
    font-size: 13px;
    color: #333;
	-webkit-tap-highlight-color: transparent;
}
a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}
ul, li, ol {
	list-style: none;
}
img {
	border: 0;
	vertical-align: top;
}
a, a:hover, a:active, a:visited {
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}
fieldset {
	border: 0;
}
legend, caption {
	position: absolute;
	overflow: hidden;
	width: 0px;
	height: 0px;
}
textarea {
	overflow: auto;
}
button {
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	background: none;
	font-family: inherit;
	cursor: pointer;
	white-space: nowrap ;
	text-decoration: none;
	background: transparent;
	border: none;
	outline: 0
}
button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], 
input[disabled] {
	cursor: default;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
i, em, address {
	font-style: normal;
}
small {
	font-size: 80%;
}
svg:not(:root) {
	overflow: hidden;
}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
pre {
	overflow: auto;
}
/* Selete */
.custom-select {
    display: inline-block;
	vertical-align: top;
    position: relative;
	text-align: left;
    cursor: pointer;
}
.custom-select .s-blind {
	visibility: hidden;    
	min-width: 120px;
    padding-right: 10px;
}
.custom-select .options-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	padding: 0px 3px;
	font-size: 12px;
	letter-spacing: -1px;
    background-color: #fff;
    border: 1px solid #b3b3b3;
}
.custom-select .options-title:after {
    position: absolute;
    top: 0px;
    right: 0px;
    content: "";
    width: 21px;
    height: 21px;
	border-left: 1px solid #b3b3b3;
    background: url("../../images/common/arrow-down-select.png") no-repeat center;
}
.custom-select .options {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 1px 0;
    border: 2px solid #333;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.custom-select .options li {
    margin: 0;
    padding: 0px 2px;
	font-size: 12px;
	line-height: 17px;
}
.custom-select .options li:hover {
    background-color:#d7d7d7;
}
.custom-select .options li.selected {
    background-color: #333;
	color: #fff;
}

/* Radio */
.custom-radio {    
	display: inline-block;
	position: relative;
    padding-left: 22px;
	vertical-align: top;	
}
.custom-radio:before {  
	content:'';  
	position: absolute;
    left: 0px;
    top: 0px;
	width: 22px; 
	height: 21px;
    background-image: url(../../images/left/btn-radio.png);
    background-repeat: no-repeat;
	background-position: center;
}
.custom-radio input {
	position: absolute;
	visibility: hidden;
}
.custom-radio span {
	display: inline-block;
    vertical-align: top;
    padding: 0px 5px 0px 1px !important;
	font-size: 12px;
	line-height: 21px;
}
.custom-radio.checked:before {
    background-image: url(../../images/left/btn-radio-on.png);
}
.custom-checkbox {
	display: inline-block;
	position: relative;
    padding-left: 25px;
	vertical-align: top;		
}
.custom-checkbox:before {  
	content:'';     
	position: absolute;
    left: 0px;
    top: -2px;
	width: 22px; 
	height: 22px;
    background-image: url(../../images/left/btn-checkbox.gif);
    background-repeat: no-repeat;
	background-position: center;
}
.custom-checkbox input {
	position: absolute;
	visibility: hidden;
}
.custom-checkbox span {
	display: inline-block;
    vertical-align: top;
    padding: 0 0 0 5px !important;
	font-size: 12px;
	line-height: 18px;
}
.custom-checkbox.checked:before {
    background-image: url(../../images/left/btn-checkbox-on.gif);
}

/* Web Accessibility */
.blind {
    position: absolute;
    visibility: hidden;
}

/* Position */
.fl {
    float: left;
}
.fr {
    float: right;
}
.al {
    text-align: left !important
}
.ar {
    text-align: right !important
}
.ac {
    text-align: center !important
}
.clear {
    clear: both;
}

/* Width */
.full {
    width: 100% !important
}

/* Display */
.bl {
    display: block;
}
.inb {
    display: inline-block;
}
.in {
    display: inline;
}

/* Text */
.important {
    font-size: 11px;
    color: #cc3333;    
    font-style: normal
}

/* 버튼 */
.bt-area {
	overflow: hidden;
	text-align: center;
}
.bt {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	font-size: 12px;
	box-sizing: border-box;
	cursor: pointer;
}
.bt.bt01 {
    padding: 6px 20px 6px;
    color: #fff;
    background-color: #333;
}
.bt.bt02 {
    padding: 6px 20px 6px;
    color: #666;
    background-color: #e1e1e1;
}
.bt.bt03 {
    padding: 6px 20px 6px;
    color: #fff;
    background-color: #7492b4;
}
.bt.search {
    padding: 6px 15px;
	height: 30px;
    color: #fff;
    background-color: #7d808c;
    border: 1px solid #757575;
}
.bt.delete {
    padding: 10px 20px 9px;
    color: #666;
    background-color: #f5f5f5;
    border: 1px solid #757575;
}
.bt.xsmall {
    padding: 2px 5px !important;
	height: 18px;
    font-size: 10px;
}
.bt.small {
    padding: 6px 15px !important;
	height: 30px;
}
.bt.large {
    padding: 19px 20px !important;
	height: 60px;
	font-size: 16px;
}

/* Icon */
.ico {
    display: inline-block;	
    vertical-align: top;
    background-image: url("../../images/ico/sprite.png");
	background-repeat: no-repeat;
}

span[class*="submenu"] {
	position: relative;
	background: none !important;
}
span[class*="submenu"]:before {
	content: '';
	position: absolute;
	top: 2px;
	z-index: 0;
	left: 15px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #fff;
}
span[class*="submenu"]:after {
	content: '';
	position: absolute;
	top: 2px;
	left: 15px;
	z-index: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
}
.submenu01_icon01:after {
	background-image: url('../../images/left/listSubmenu01_icon01.png'); 
}
.submenu01_icon02:after {
	background-image: url('../../images/left/listSubmenu01_icon02.png'); 
}
.submenu01_icon03:after {
	background-image: url('../../images/left/listSubmenu01_icon03.png'); 
}
.submenu01_icon04:after {
	background-image: url('../../images/left/listSubmenu01_icon05.png'); 
}
.submenu01_icon05:after {
	background-image: url('../../images/left/listSubmenu01_icon04.png'); 
}
.submenu01_icon06:after {
	background-image: url('../../images/left/listSubmenu01_icon06.png'); 
}
.submenu02_icon01:after {
    background-image: url('../../images/left/listSubmenu02_icon01.png');
}
.submenu02_icon02:after {
    background-image: url('../../images/left/listSubmenu02_icon02.png');
}
.submenu02_icon03:after {
    background-image: url('../../images/left/listSubmenu02_icon03.png');
}
.submenu02_icon04:after {
    background-image: url('../../images/left/listSubmenu02_icon04.png');
}
.submenu02_icon05:after {
    background-image: url('../../images/left/listSubmenu02_icon05.png');
}
.submenu03_icon01:after {
    background-image: url('../../images/left/listSubmenu03_icon01.png');
}
.submenu03_icon02:after {
    background-image: url('../../images/left/listSubmenu03_icon02.png');
}
.submenu03_icon03:after {
    background-image: url('../../images/left/listSubmenu03_icon03.png');
}
.submenu03_icon04:after {
    background-image: url('../../images/left/listSubmenu03_icon04.png');
}
.submenu03_icon05:after {
    background-image: url('../../images/left/listSubmenu03_icon05.png');
}
.submenu03_icon06:after {
    background-image: url('../../images/left/listSubmenu03_icon05.png');
}
.submenu04_icon01:after {
    background-image: url('../../images/left/listSubmenu04_icon02.png');;
}
.submenu05_icon01:after {
    background-image: url('../../images/left/listSubmenu05_icon01.png');
}
.submenu05_icon02:after {
    background-image: url('../../images/left/listSubmenu05_icon04.png');
}
.submenu05_icon03:after {
    background-image: url('../../images/left/listSubmenu05_icon02.png');
}
.submenu05_icon04:after {
    background-image: url('../../images/left/listSubmenu05_icon03.png');
}
.submenu07_icon01:after {
    background-image: url('../../images/left/listSubmenu07_icon01.png');
}
.submenu07_icon02:after {
    background-image: url('../../images/left/listSubmenu07_icon02.png');
}
.submenu08_icon01:after {
    background-image: url('../../images/left/listSubmenu07_icon01.png');
}
.submenu11_icon01:after {
    background-image: url('../../images/left/listSubmenu06_icon01.png');
}
.submenu11_icon02:after {
    background-image: url('../../images/left/listSubmenu06_icon02.png');
}
.submenu11_icon03:after {
    background-image: url('../../images/left/listSubmenu06_icon03.png');
}
.submenu11_icon04:after {
    background-image: url('../../images/left/listSubmenu04_icon01.png');
}

.submenu01_icon01:hover:after,
.submenu01_icon01.on:after {
	background-image: url('../../images/left/listSubmenu01_icon01_on.png'); 
}
.submenu01_icon02:hover:after,
.submenu01_icon02.on:after {
	background-image: url('../../images/left/listSubmenu01_icon02_on.png'); 
}
.submenu01_icon03:hover:after,
.submenu01_icon03.on:after {
	background-image: url('../../images/left/listSubmenu01_icon03_on.png'); 
}
.submenu01_icon04:hover:after,
.submenu01_icon04.on:after {
	background-image: url('../../images/left/listSubmenu01_icon05_on.png'); 
}
.submenu01_icon05:hover:after,
.submenu01_icon05.on:after {
	background-image: url('../../images/left/listSubmenu01_icon04_on.png'); 
}
.submenu01_icon06:hover:after,
.submenu01_icon06.on:after {
	background-image: url('../../images/left/listSubmenu01_icon06_on.png'); 
}
.submenu02_icon01:hover:after,
.submenu02_icon01.on:after {
    background-image: url('../../images/left/listSubmenu02_icon01_on.png');
}
.submenu02_icon02:hover:after,
.submenu02_icon02.on:after {
    background-image: url('../../images/left/listSubmenu02_icon02_on.png');
}
.submenu02_icon03:hover:after,
.submenu02_icon03.on:after {
    background-image: url('../../images/left/listSubmenu02_icon03_on.png');
}
.submenu02_icon04:hover:after,
.submenu02_icon04.on:after {
    background-image: url('../../images/left/listSubmenu02_icon04_on.png');
}
.submenu02_icon05:hover:after,
.submenu02_icon05.on:after {
    background-image: url('../../images/left/listSubmenu02_icon05_on.png');
}
.submenu03_icon01:hover:after,
.submenu03_icon01.on:after {
    background-image: url('../../images/left/listSubmenu03_icon01_on.png');
}
.submenu03_icon02:hover:after,
.submenu03_icon02.on:after {
    background-image: url('../../images/left/listSubmenu03_icon02_on.png');
}
.submenu03_icon03:hover:after,
.submenu03_icon03.on:after {
    background-image: url('../../images/left/listSubmenu03_icon03_on.png');
}
.submenu03_icon04:hover:after,
.submenu03_icon04.on:after {
    background-image: url('../../images/left/listSubmenu03_icon04_on.png');
}
.submenu03_icon05:hover:after,
.submenu03_icon05.on:after {
    background-image: url('../../images/left/listSubmenu03_icon05_on.png');
}
.submenu03_icon06:hover:after,
.submenu03_icon06.on:after {
    background-image: url('../../images/left/listSubmenu03_icon05_on.png');
}
.submenu04_icon01:hover:after,
.submenu04_icon01.on:after {
    background-image: url('../../images/left/listSubmenu04_icon02_on.png');;
}
.submenu05_icon01:hover:after,
.submenu05_icon01.on:after {
    background-image: url('../../images/left/listSubmenu05_icon01_on.png');
}
.submenu05_icon02:hover:after,
.submenu05_icon02.on:after {
    background-image: url('../../images/left/listSubmenu05_icon04_on.png');
}
.submenu05_icon03:hover:after,
.submenu05_icon03.on:after {
    background-image: url('../../images/left/listSubmenu05_icon02_on.png');
}
.submenu05_icon04:hover:after,
.submenu05_icon04.on:after {
    background-image: url('../../images/left/listSubmenu05_icon03_on.png');
}
.submenu07_icon01:hover:after,
.submenu07_icon01.on:after {
    background-image: url('../../images/left/listSubmenu07_icon01_on.png');
}
.submenu07_icon02:hover:after,
.submenu07_icon02.on:after {
    background-image: url('../../images/left/listSubmenu07_icon02_on.png');
}
.submenu08_icon01:hover:after,
.submenu08_icon01.on:after {
    background-image: url('../../images/left/listSubmenu07_icon01_on.png');
}
.submenu11_icon01:hover:after,
.submenu11_icon01.on:after {
    background-image: url('../../images/left/listSubmenu06_icon01_on.png');
}
.submenu11_icon02:hover:after,
.submenu11_icon02.on:after {
    background-image: url('../../images/left/listSubmenu06_icon02_on.png');
}
.submenu11_icon03:hover:after,
.submenu11_icon03.on:after {
    background-image: url('../../images/left/listSubmenu06_icon03_on.png');
}
.submenu11_icon04:hover:after,
.submenu11_icon04.on:after {
    background-image: url('../../images/left/listSubmenu04_icon01_on.png');
}
.submenu01_icon01:hover:after,
.submenu01_icon01.on:after {
	background-image: url('../../images/left/listSubmenu01_icon01_on.png'); 
}
.submenu01_icon02:hover:after,
.submenu01_icon02.on:after {
	background-image: url('../../images/left/listSubmenu01_icon02_on.png'); 
}
.submenu01_icon03:hover:after,
.submenu01_icon03.on:after {
	background-image: url('../../images/left/listSubmenu01_icon03_on.png'); 
}
.submenu01_icon04:hover:after,
.submenu01_icon04.on:after {
	background-image: url('../../images/left/listSubmenu01_icon05_on.png'); 
}
.submenu01_icon05:hover:after,
.submenu01_icon05.on:after {
	background-image: url('../../images/left/listSubmenu01_icon04_on.png'); 
}
.submenu01_icon06:hover:after,
.submenu01_icon06.on:after {
	background-image: url('../../images/left/listSubmenu01_icon06_on.png'); 
}
.submenu02_icon01:hover:after,
.submenu02_icon01.on:after {
    background-image: url('../../images/left/listSubmenu02_icon01_on.png');
}
.submenu02_icon02:hover:after,
.submenu02_icon02.on:after {
    background-image: url('../../images/left/listSubmenu02_icon02_on.png');
}
.submenu02_icon03:hover:after,
.submenu02_icon03.on:after {
    background-image: url('../../images/left/listSubmenu02_icon03_on.png');
}
.submenu02_icon04:hover:after,
.submenu02_icon04.on:after {
    background-image: url('../../images/left/listSubmenu02_icon04_on.png');
}
.submenu02_icon05:hover:after,
.submenu02_icon05.on:after {
    background-image: url('../../images/left/listSubmenu02_icon05_on.png');
}
.submenu03_icon01:hover:after,
.submenu03_icon01.on:after {
    background-image: url('../../images/left/listSubmenu03_icon01_on.png');
}
.submenu03_icon02:hover:after,
.submenu03_icon02.on:after {
    background-image: url('../../images/left/listSubmenu03_icon02_on.png');
}
.submenu03_icon03:hover:after,
.submenu03_icon03.on:after {
    background-image: url('../../images/left/listSubmenu03_icon03_on.png');
}
.submenu03_icon04:hover:after,
.submenu03_icon04.on:after {
    background-image: url('../../images/left/listSubmenu03_icon04_on.png');
}
.submenu03_icon05:hover:after,
.submenu03_icon05.on:after {
    background-image: url('../../images/left/listSubmenu03_icon05_on.png');
}
.submenu03_icon06:hover:after,
.submenu03_icon06.on:after {
    background-image: url('../../images/left/listSubmenu03_icon05_on.png');
}
.submenu04_icon01:hover:after,
.submenu04_icon01.on:after {
    background-image: url('../../images/left/listSubmenu04_icon02_on.png');;
}
.submenu05_icon01:hover:after,
.submenu05_icon01.on:after {
    background-image: url('../../images/left/listSubmenu05_icon01_on.png');
}
.submenu05_icon02:hover:after,
.submenu05_icon02.on:after {
    background-image: url('../../images/left/listSubmenu05_icon04_on.png');
}
.submenu05_icon03:hover:after,
.submenu05_icon03.on:after {
    background-image: url('../../images/left/listSubmenu05_icon02_on.png');
}
.submenu05_icon04:hover:after,
.submenu05_icon04.on:after {
    background-image: url('../../images/left/listSubmenu05_icon03_on.png');
}
.submenu07_icon01:hover:after,
.submenu07_icon01_on:after {
    background-image: url('../../images/left/listSubmenu07_icon01_on.png');
}
.submenu07_icon02:hover:after,
.submenu07_icon02.on:after {
    background-image: url('../../images/left/listSubmenu07_icon02_on.png');
}
.submenu08_icon01:hover:after,
.submenu08_icon01.on:after {
    background-image: url('../../images/left/listSubmenu07_icon01_on.png');
}
.submenu11_icon01:hover:after,
.submenu11_icon01.on:after {
    background-image: url('../../images/left/listSubmenu06_icon01_on.png');
}
.submenu11_icon02:hover:after,
.submenu11_icon02.on:after {
    background-image: url('../../images/left/listSubmenu06_icon02_on.png');
}
.submenu11_icon03:hover:after,
.submenu11_icon03.on:after {
    background-image: url('../../images/left/listSubmenu06_icon03_on.png');
}
.submenu11_icon04:hover:after,
.submenu11_icon04.on:after {
    background-image: url('../../images/left/listSubmenu04_icon01_on.png');
}

/* layout */
.left {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
	width: 371px;
	padding: 96px 0 0 70px;
    border-right: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.left header h1 {
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 900;
    color: #074e98;
}
.left header h1 a {
    display: block;
    transition: none;
}
.left header nav {
	position: absolute;
    top: 96px;
    left: 0px;
    bottom: 0px;
	width: 70px;
}
.left header nav button {
    position: relative;
	width: 100%;
    height: 13%;
	min-height: 80px;
    font-size: 15px;
    text-align: center;
}
.left header nav button:nth-child(7),
.left header nav button:nth-child(8) {
	height: 11%;
} 
.left header nav button i {
    display: inline-block;
    vertical-align: top;
    position: relative;
	z-index: 1;
	width: 32px;
	height: 30px;
	margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: center;
}
.left header nav button span {
    display: block;
    position: relative;
	z-index: 1;
    color: #fff;
	font-size: 15px;
	letter-spacing: -1px;
}
.left header nav button:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	z-index:0;
	width: 100%;
	transition: all 0.15s ease-out 0s;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -ms-transition: all 0.15s ease-out 0s;
}
.left header nav button:after {
    display: none;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	z-index: 0;
    background: rgba(0,0,0,0.05);
	transition: all 0.15s ease-out 0s;
    -webkit-transition: all 0.15s ease-out 0s;
    -moz-transition: all 0.15s ease-out 0s;
    -ms-transition: all 0.15s ease-out 0s;
}
.left header nav button[class*="current"]:before {
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    margin: -35px 0 0 -25px;
    border-radius: 50%;
}
.left header nav button:hover:after {
    display: block;
}
.left header nav button[class*="current"]:hover:after {
    display: none;
}
.left header nav button:first-child:before {
    background-color: #bcc979;
}
.left header nav button.current:first-child span {
    color: #bcc979;
}
.left header nav button:first-child i {
    background-image: url('../../images/common/m1-1.png');
}
.left header nav button[class*="current"] i {
    margin-top: 12px;
}
.left header nav button:nth-child(2):before {
    background-color: #94be73;
}
.left header nav button.current:nth-child(2) span {
    color: #94be73;
}
.left header nav button:nth-child(2) i {
    background-image: url('../../images/common/m1-2.png');
}
.left header nav button:nth-child(3):before {
    background-color: #69a485;
}
.left header nav button.current:nth-child(3) span {
    color: #69a485;
}
.left header nav button:nth-child(3) i {
    background-image: url('../../images/common/m1-3.png');
}
.left header nav button:nth-child(4):before {
    background-color: #72b2a8;
}
.left header nav button.current:nth-child(4) span {
    color: #72b2a8;
}
.left header nav button:nth-child(4) i {
    background-image: url('../../images/common/m1-4.png');
}
.left header nav button:nth-child(5):before {
    background-color: #6fa1ab;
}
.left header nav button.current:nth-child(5) span {
    color: #6fa1ab;
}
.left header nav button:nth-child(5) i {
    background-image: url('../../images/common/m1-5.png');
}
.left header nav button:nth-child(6):before {
    background-color: #7492b4;
}
.left header nav button.current:nth-child(6) span {
    color: #7492b4;
}
.left header nav button:nth-child(6) i {
    background-image: url('../../images/common/m1-6.png');
}
.left header nav button:nth-child(7):before {
    background-color: #8483ab;
}
.left header nav button.current:nth-child(7) span {
    color: #8483ab;
}
.left header nav button:nth-child(7) i {
    background-image: url('../../images/common/m1-7.png');
}
.left header nav button:nth-child(8):before {
    background-color: #a27fa8;
}
.left header nav button.current:nth-child(8) span {
    color: #a27fa8;
}
.left header nav button:nth-child(8) i {
    background-image: url('../../images/common/m1-8.png');
}

/* Form */
.left input[type="text"], 
.left input[type="password"], 
.left input[type="number"], 
.left input[type="search"] {
	height: 21px;
	padding: 0px 3px;
	font-size: 12px;
	line-height: 21px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}
.left textarea{
	padding: 6px 5px;
	font-size: 12px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
}
.left select{  
	height: 22px;
	padding: 0 5px;
	font-size: 12px;  
	border: 1px solid #e5e5e5;
}

/* Footer */
footer {
	font-size: 12px;
	line-height: 1.5em;
}

/* Content */
.inner {
	padding: 20px 10px;
}
[id^="nav-panel"] {
    position: absolute;
    top: 95px;
    bottom: 0px;
    right: 0px;
    left: 70px;
}
#nav-panel1 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #b5c275 0%, #747c4d 100%);
	background: -webkit-linear-gradient(top, #b5c275 0%,#747c4d 100%);
	background: linear-gradient(to bottom, #b5c275 0%,#747c4d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5c275', endColorstr='#747c4d',GradientType=0 );
}
#nav-panel1 .drop-down .d-toggle span {
	background: url(../../images/common/m1-1-s.png) 15px center no-repeat;
}
#nav-panel2 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #94be73 0%, #8db56e 100%);
	background: -webkit-linear-gradient(top, #94be73 0%,#8db56e 100%);
	background: linear-gradient(to bottom, #94be73 0%,#8db56e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94be73', endColorstr='#8db56e',GradientType=0 );
}
#nav-panel2 .drop-down .d-toggle span {
	background: url(../../images/common/m1-2-s.png) 15px center no-repeat;
}
#nav-panel3 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #69a485 0%, #5b8d73 100%);
	background: -webkit-linear-gradient(top, #69a485 0%,#5b8d73 100%);
	background: linear-gradient(to bottom, #69a485 0%,#5b8d73 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#69a485', endColorstr='#5b8d73',GradientType=0 );
}
#nav-panel3 .drop-down .d-toggle span {
	background: url(../../images/common/m1-3-s.png) 15px center no-repeat;
}
#nav-panel4 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #72b2a8 0%, #60958d 100%);
	background: -webkit-linear-gradient(top, #72b2a8 0%,#60958d 100%);
	background: linear-gradient(to bottom, #72b2a8 0%,#60958d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#72b2a8', endColorstr='#60958d',GradientType=0 );
}
#nav-panel4 .drop-down .d-toggle span {
	background: url(../../images/common/m1-4-s.png) 15px center no-repeat;
}
#nav-panel5 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #6fa1ab 0%, #66939c 100%);
	background: -webkit-linear-gradient(top, #6fa1ab 0%,#66939c 100%);
	background: linear-gradient(to bottom, #6fa1ab 0%,#66939c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6fa1ab', endColorstr='#66939c',GradientType=0 );
}
#nav-panel5 .drop-down .d-toggle span {
	background: url(../../images/common/m1-5-s.png) 15px center no-repeat;
}
#nav-panel6 .drop-down {    
	border-radius: 18px;
	background: #7492b4;
	border: 0px;
	background: -moz-linear-gradient(top, #7492b4 0%, #6a86a4 100%);
	background: -webkit-linear-gradient(top, #7492b4 0%,#6a86a4 100%);
	background: linear-gradient(to bottom, #7492b4 0%,#6a86a4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7492b4', endColorstr='#6a86a4',GradientType=0 );
}
#nav-panel6 .drop-down .d-toggle span {
	background: url(../../images/common/m1-6-s.png) 15px center no-repeat;
}
#nav-panel7 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #8483ab 0%, #79789c 100%); 
	background: -webkit-linear-gradient(top, #8483ab 0%,#79789c 100%);
	background: linear-gradient(to bottom, #8483ab 0%,#79789c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8483ab', endColorstr='#79789c',GradientType=0 );
}
#nav-panel7 .drop-down .d-toggle span {
	background: url(../../images/common/m1-7-s.png) 15px center no-repeat;
}
#nav-panel8 .drop-down {    
	border-radius: 18px;
	background: #b5c275;
	border: 0px;
	background: -moz-linear-gradient(top, #a27fa8 0%, #a27fa8 100%);
	background: -webkit-linear-gradient(top, #a27fa8 0%,#a27fa8 100%);
	background: linear-gradient(to bottom, #a27fa8 0%,#a27fa8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a27fa8', endColorstr='#a27fa8',GradientType=0 );
}
#nav-panel8 .drop-down .d-toggle span {
	background: url(../../images/common/m1-8-s.png) 15px center no-repeat;
}

.drop-down .d-wrap {
    padding-bottom: 10px;
	background: url('../../images/left/bg-accordion-bottom.png') no-repeat 0 bottom;
}
.drop-down .d-toggle {
	position: relative;
    z-index: 1;
	height: 36px;
	background: url('../../images/left/bg-accordion-bottom.png') no-repeat 0 18px;
    cursor: pointer;
}
.drop-down .d-toggle:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 18px;
	background: url('../../images/left/bg-accordion-top.png') no-repeat 0 -10px;
}
.drop-down .d-toggle:after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
	width: 100%;
	height: 18px;
	background: url('../../images/left/bg-accordion-top.png') no-repeat 0 -10px;
}
.drop-down .d-toggle.current {
	display: block;
	height: 36px;
    background: url('../../images/left/bg-accordion-on.png') no-repeat 0 bottom;
}
.drop-down .d-toggle span {
	display: inline-block;
	height: 36px;
	padding: 8px 0 0 65px;
    color: #fff;
	font-size: 14px;
}
.drop-down .d-toggle span:before {
	content:'';
	position:absolute;
	left: 54px;
	top: 10px;
	width: 1px;
	height: 16px;
	border-left: 1px solid rgba(255, 255, 255, 0.3)
}
.drop-down li span img {
    top: 11px;
    right: 20px;
}
.drop-down .d-content {
    display: none;  
    padding: 10px;
	border-radius: 0 0 18px 18px;
	background-color: #f2f2f2;
}
.drop-down li dd span[class*="submenu"] {
	float: left;
    width: 50%;
	padding: 0px;
	background-color: #f2f2f2;
	border-bottom: 0px;
	height: auto !important;
	background-position:15px center;
	background-color: #f2f2f2 !important;
}
.drop-down li dd span[class*="submenu"].lMenu-r-line {
    border-right: 0px;
}
.drop-down li dd span[class*="submenu"] a {
	position: relative;
	display: block;
	height: 30px;
	margin-left: 0px;
	padding: 5px 5px 5px 45px;
	color: #666;
	font-size: 12px;
	letter-spacing: -1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
}
.drop-down li dd span[class*="submenu"] a:hover {
	color: #000;
}
.drop-down li dd span.checked-all {
	float: none;
	display: block;
	width: 100%;	
}
.drop-down li dd span.checked-all a {
	position: relative;
	display: block;
	height: 30px;
	margin: 0px 15px 5px;
	padding: 5px 5px 10px 53px;
	color: #666;
	font-size: 12px;
	letter-spacing: -1px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	box-sizing: border-box;
	border-bottom: 1px solid #e6e6e6;
}
.drop-down.type-check li dd span[class*="submenu"]:only-child a {
	padding-left: 68px;
}
.drop-down.type-check li dd span[class*="submenu"]:only-child a:before {
    content: '';
    position: absolute;
    left: 54px;
    top: 7px;
    width: 1px;
    height: 16px;
    border-left: 1px solid #c2c2c2;
}
.drop-down.type-check li dd span[class*="submenu"]:only-child {
	float: none;
	display: block;
	width: 100%;
}


.sub-tab {
	float: none;
	overflow: hidden;
	margin-bottom: 20px;
}
.sub-tab li {
	float: left;
	height: 33px;
	padding: 6px 11px;
	color: #a1a1a1;
	font-size: 12px;
	text-align: center;
	border: 1px solid #e2e2e2;
	border-bottom: 2px solid #000;
	border-radius: 10px 10px 0 0;
	box-sizing: border-box;
	cursor: pointer;
}
.sub-tab.ea2 li {
	width: 50%;
}
.sub-tab.ea3 li {
	width: 33%;
}
.sub-tab.ea3 li:first-child {
	width: 34%;
}
.sub-tab li:hover,
.sub-tab li.subtab-on {
	padding: 5px 10px;
	color: #000;
	border: 2px solid #000;
	border-bottom: 2px solid #fff;
}
.left .input-point li {
	padding: 10px 15px 0;
	border-bottom: 1px solid #e6e6e6;
}
.left .input-point li:only-child {
	border-bottom: 0px;
}
.left .input-point dl {
	overflow: hidden;
}
.left .input-point dt {
	float: left;
	clear: left;
	width: 25px;
	height: 30px;
	line-height: 25px;
	font-size: 12px;
}
.left .input-point dd {
	overflow: hidden;
	height: 30px;
}
.left .input-point dd input[type="text"] {
	float: left;
	width: 32%;
	margin-left: 2%;	
}
.left .input-point dd input[type="text"]:first-child {
	margin-left: 0px;	
}
.left .input-point .bt-area {
	position: relative;
	padding: 10px 15px 0;
}
.left .input-point .bt-area div {
	overflow: hidden;
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.left .input-point .bt-area div:after {
	content: '';
	position: absolute;
	top: 50px;
	left: 0px;
	width: 100%;
	height: 1px;
	border-bottom: 1px solid #e6e6e6;
}
.left .input-point .bt-area .bt {
	float: right;
	width: 29%;
	padding: 6px 0px 6px;
}
.left .input-point .bt-area .bt.bt01 {
	float: left;
	width: 69%;
}

.step-tab {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 25px;
	border-bottom: 1px solid #e6e6e6;
}
.step-tab:after {
	content: '';
	position:absolute; 
	left: 50%;
	bottom: -5px;
	width: 38px;
	height: 10px;
	margin-left: -19px;
	background: #fff url(../../images/common/arrow-down2.png)no-repeat center;
}
.step-tab li {
	float: left;
	margin: 0 0 5px 7px;
	color: #e1e1e1;
	font-size: 12px;
	cursor: pointer;
}
.step-tab li i {
	display: inline-block;
    width: 25px;
    height: 25px;
	margin-right: 5px;
	color: #fff;
	font-family: 'SourceSansProSemibold',Arial,'AppleSDGothic','돋움','dotum',sans-serif;
	font-size: 12px;
	text-align: center;
    line-height: 24px;
	font-style: normal;
    border-radius: 50%;
	background: #e1e1e1;
}
.step-tab li.on,
.step-tab li:hover {
	color: #000;
}
.step-tab li.on i,
.step-tab li:hover i {
    background: #7d99b9;
    background: -moz-linear-gradient(left, #7d99b9 0%, #a2b7d3 100%);
    background: -webkit-linear-gradient(left, #7d99b9 0%,#a2b7d3 100%);
    background: linear-gradient(to right, #7d99b9 0%,#a2b7d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d99b9', endColorstr='#a2b7d3',GradientType=1 );
}

.toggle-close a {
	display:inline-block;
	width: 25px;
	height: 104px;
	margin-left: -1px;
    background: url('../../images/map/toggle-close.png') no-repeat 0 0;
}
.toggle-close a img {
	display: none;
	
}

/* CustomScrollbar */
.mCustomScrollbar .mCSB-inside>.mCSB-container { 
	margin-right: 0px !important; 
}
.mCSB-scrollTools { 
	width: 4px !important; 
	top: 20px !important;
    right: 3px !important;
}
.layerCont.mCustomScrollbar .mCSB-scrollTools { 
	width: 10px !important; 
}

/* Map */
.map {
	left: 371px;
}

@media screen and (min-width:1080px) {
	body {
		overflow-x: hidden;
	}
	
} 

