body, html { overflow: hidden; }

.main { height: 100vh; width: 100vw; position: relative; }
.main .section { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#visual { visibility: visible; opacity: 1; z-index: 2; }
#visual .ci-text { position: absolute; top: 28.3vh; left: 25px; z-index: 10; }
#visual .ci-text div + div { margin-top: 19px; }
#visual .ci-text div:last-child { margin-top: 40px; }
#visual .ci-text div span { display: block; position: relative; padding-left: 90px; height: 42px; overflow: hidden; }
#visual .ci-text div span em { display: block; transform: translateY(0); }
#visual .ci-text div [class^="text__block--"] { background-repeat: no-repeat; }
#visual .ci-text div .text__block--1 { background-position: 114% 98%; }
#visual .ci-text div .text__block--2 { background-position: 0 100%; }
#visual .ci-text div .text__block--3 { background-position: 100% 100%; }
#visual .ci-text div .text__block--1 { background-image: url(../../images/line_ci_01.png); }
#visual .ci-text div .text__block--2 { background-image: url(../../images/line_ci_02.png); }
#visual .ci-text div .text__block--3 { background-image: url(../../images/line_ci_03.png); }
#visual .wrap { display: flex; flex-direction: row; width: 100%; height: 100%; }
#visual .el-loader { opacity: 0; }
#visual .first-front { position: absolute; top: 0; left: 0; width: 100vw; height: 100vh; padding-top: 27vh; padding-right: 13.5vw; background: url(../../images/bg_first.jpg) no-repeat 0 0; background-size: cover; }
#visual .first-front .img { text-align: right; }
#visual .wait-area { width: 33%; height: 100%; }
#visual .wait-container { position: relative; width: 100%; height: 100%; overflow: hidden; }
#visual .wait-container .swiper { position: relative; width: 100%; overflow: hidden; }
#visual .wait-container .swiper .item { position: relative; }
#visual .wait-container .swiper .item + .item { margin: 8.8vh 0 0; }
#visual .wait-container .swiper .item .thumbnail { position: relative; z-index: 1; height: 48vh; overflow: hidden; }
#visual .wait-container .swiper .item .thumbnail img { display: block; width: 100%; height: 100%; vertical-align: top; }
#visual .wait-container .swiper .item:before { content: ""; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 2; background-color: rgba(0, 0, 0, 0.95); }
#visual .show-area { padding-left: 6%; width: 46%; box-sizing: content-box; }
#visual .show-container { position: relative; width: 100%; height: 100%; overflow: hidden; }
#visual .show-container .swiper { position: relative; width: 100%; }
#visual .show-container .swiper .item { position: relative; }
#visual .show-container .swiper .item span { position: absolute; left: 0; top: 0; width: 100%; height: 100%; text-align: center; color: #fff; font-size: 40px; z-index: 1000; display: block; line-height: 465px; }
#visual .show-container .swiper .item + .item { margin: 8.8vh 0 0; }
#visual .show-container .swiper .item .thumbnail { position: relative; z-index: 1; height: 48vh; overflow: hidden; }
#visual .show-container .swiper .item .thumbnail img { display: block; width: 100%; height: 100%; vertical-align: top; transition: all 0.3s ease-in; }
#visual .show-container .swiper .item.current:before { opacity: 0; text-align: center; }
#visual .show-container .swiper .item.current:hover img { transform: scale(1.05); transition: all 0.7s ease-in; }
#visual .show-container .swiper .item:before { content: ""; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; z-index: 2; background-color: rgba(0, 0, 0, 0.95); opacity: 1; transition: all 0.6s ease-in; }
#visual .control-menu { position: absolute; right: 0; top: 50%; transform: translateY(-50%); z-index: 10; }
#visual .control-menu .menu-g { height: 100%; vertical-align: middle; }
#visual .control-menu .menu-g ul li { text-align: right; overflow: hidden; }
#visual .control-menu .menu-g ul li + li { margin-top: 15px; }
#visual .control-menu .menu-g ul li.active button { opacity: 1; width: 50px; }
#visual .control-menu button { background-color: #fff; vertical-align: top; display: block; float: right; opacity: 0.2; width: 25px; height: 1px; }
#visual .view-fraction { position: absolute; right: 50px; bottom: 50px; color: #fff; }
#visual .view-fraction strong { color: #1c9dce; }
#visual .arrow_change { position: absolute; bottom: 40px; left: 0; width: 100%; text-align: center; }
#visual .arrow_change a { display: inline-block; width: 24px; height: 12px; background: url(../../images/arrow_change.png) no-repeat 0 0; animation: fadeOut 1s 0.5s infinite linear alternate; }

@keyframes fadeOut { 0% { opacity: 0; }
  100% { opacity: 1; } }
#whatwedo { padding-top: 55px; z-index: 5; top: 100%; height: 100vh; }
#whatwedo .what-header { background-color: #fff; height: 102px; }
#whatwedo .what-header .what-title { font-family: 'Baskerville Old Face'; font-size: 48px; line-height: 1.1; padding: 40px 0 0 8px; }
#whatwedo .what-content { background: url(../../images/what/bg_what.jpg) no-repeat 50% 0; background-size: cover; height: calc(100% - 102px); }
#whatwedo .what-content .inner { height: 100%; }
#whatwedo .display-table { display: table; width: 100%; height: 100%; }
#whatwedo .display-table .display-cell { display: table-cell; width: 100%; height: 100%; vertical-align: middle; }
#whatwedo .what-cont { max-width: 840px; margin: 0 auto; }
#whatwedo .what__text--1 { text-align: center; color: #fff; font-size: 22px; }
#whatwedo .squre__group { padding: 35px 0 50px; margin: 0 -15px; overflow: hidden; }
#whatwedo .squre__group > div { padding: 0 15px; float: left; width: 33%; }
#whatwedo .squre__group .item { background-color: rgba(255, 255, 255, 0.75); text-align: center; padding: 30px 0; }
#whatwedo .squre__group .ico { display: inline-block; background-repeat: no-repeat; background-position: 0 50%; }
#whatwedo .squre__group .ico.ico-plan { background-image: url(../../images/what/ico_01.png); width: 48px; height: 44px; }
#whatwedo .squre__group .ico.ico-design { background-image: url(../../images/what/ico_02.png); width: 50px; height: 44px; }
#whatwedo .squre__group .ico.ico-pub { background-image: url(../../images/what/ico_03.png); width: 50px; height: 44px; }
#whatwedo .squre__group .squre__title { text-transform: uppercase; font-weight: bold; color: #000; font-size: 22px; }
#whatwedo .squre__group .squre__title--02 { color: #000; font-size: 14px; padding: 2px 0 15px; }
#whatwedo .squre__group .squre__text { color: #666; font-size: 12px; }
#whatwedo .quick-view { text-align: center; background: url(../../images/what/bg_quick.png) no-repeat 50% 0; height: 96px; padding-top: 30px; }
#whatwedo .quick-view span { display: inline-block; font-weight: bold; color: #fff; font-size: 18px; padding-bottom: 25px; background: url(../../images/what/arrow_round.png) no-repeat 50% 100%; }
#whatwedo .spot-menu { background-color: #fff; margin-top: 15px; padding: 35px 30px; }
#whatwedo .spot-menu ul { overflow: hidden; }
#whatwedo .spot-menu ul li { float: left; width: 20%; padding-left: 30px; background: url(../../images/what/blit.gif) no-repeat 0 0; }
#whatwedo .spot-menu ul li:first-child { background: none; padding-left: 0; }
#whatwedo .spot-menu ul li a { display: inline-block; color: #000; font-size: 18px; padding-left: 42px; background-repeat: no-repeat; background-position: 0 0; line-height: 24px; }
#whatwedo .spot-menu ul li a.ico-1 { background-image: url(../../images/what/ico_04.png); }
#whatwedo .spot-menu ul li a.ico-2 { background-image: url(../../images/what/ico_05.png); }
#whatwedo .spot-menu ul li a.ico-3 { background-image: url(../../images/what/ico_06.png); }
#whatwedo .spot-menu ul li a.ico-4 { background-image: url(../../images/what/ico_07.png); }
#whatwedo .spot-menu ul li a.ico-5 { background-image: url(../../images/what/ico_08.png); }
