@charset "UTF-8";
/* Selete */
.custom-select { display: inline-block; position: relative; width: 100%; height: 53px; text-align: left; cursor: pointer; }

.custom-select .s-blind { visibility: hidden; min-width: 120px; padding-right: 10px; }

.custom-select .s-title { position: absolute; top: 0; right: 0; bottom: 0; left: 0; line-height: 52px; padding: 0px 10px; background-color: #fff; border: 1px solid #dddddd; }

.custom-select .s-title:after { content: "\f107"; position: absolute; top: 0px; right: 0px; width: 28px; height: 52px; font: normal normal normal 20px/1 FontAwesome; line-height: 53px; text-align: center; border-left: 1px solid #dddddd; }

.custom-select .s-options { display: none; position: absolute; top: 0; right: 0; left: 0; z-index: 999; padding: 3px 0; border: 2px solid #000; background-color: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.custom-select .s-options li { margin: 0; padding: 0 10px; height: 53px; line-height: 53px; }

.custom-select .s-options li:hover { background-color: #d7d7d7; }

.custom-select .s-options li.selected { background-color: #0072bc; color: #fff; }

/* Radio Buttons */
.custom-radio [type="radio"]:not(:checked), .custom-radio [type="radio"]:checked { position: absolute; opacity: 0; pointer-events: none; }

.custom-radio [type="radio"]:not(:checked) + span, .custom-radio [type="radio"]:checked + span { position: relative; padding-left: 30px; cursor: pointer; display: inline-block; height: 25px; color: #444; line-height: 25px; -webkit-transition: .28s ease; transition: .28s ease; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.custom-radio [type="radio"] + span:before, .custom-radio [type="radio"] + span:after { content: ''; position: absolute; left: 0; top: 0; margin: 4px; width: 20px; height: 20px; z-index: 0; -webkit-transition: .28s ease; transition: .28s ease; box-sizing: border-box; }

.custom-radio [type="radio"]:not(:checked) + span:before, .custom-radio [type="radio"]:not(:checked) + span:after, .custom-radio [type="radio"]:checked + span:before, .custom-radio [type="radio"]:checked + span:after { border-radius: 50%; }

.custom-radio [type="radio"]:not(:checked) + span:before, .custom-radio [type="radio"]:not(:checked) + span:after { background: #c3c3c3; border: 5px solid #c3c3c3; }

.custom-radio [type="radio"]:not(:checked) + span:after { -webkit-transform: scale(0); transform: scale(0); }

.custom-radio [type="radio"]:checked + span:before { top: 4px; left: 4px; width: 12px; height: 12px; background-color: #2b496d; }

.custom-radio [type="radio"]:checked + span:after { border: 5px solid #97d7f2; -webkit-transform: scale(1.02); transform: scale(1.02); }

.custom-radio [type="radio"]:disabled:not(:checked) + span:before, .custom-radio [type="radio"]:disabled:checked + span:before { background-color: transparent; border-color: rgba(0, 0, 0, 0.42); }

.custom-radio [type="radio"]:disabled + span { color: rgba(0, 0, 0, 0.42); }

.custom-radio [type="radio"]:disabled:not(:checked) + span:before { border-color: rgba(0, 0, 0, 0.42); }

.custom-radio [type="radio"]:disabled:checked + span:after { background-color: rgba(0, 0, 0, 0.42); border-color: #949494; }

/* Checkbox */
.custom-checkbox [type="checkbox"]:not(:checked), .custom-checkbox [type="checkbox"]:checked { position: absolute; opacity: 0; pointer-events: none; }

.custom-checkbox [type="checkbox"] + span { position: relative; padding-left: 30px; padding-right: 30px; cursor: pointer; display: inline-block; height: 25px; color: #444; font-size: 12px; line-height: 25px; -webkit-transition: .28s ease; transition: .28s ease; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

.custom-checkbox [type="checkbox"] + span:after { content: ''; position: absolute; top: 5px; left: 2px; width: 2px; height: 8px; border-top: 2px solid transparent; border-left: 2px solid transparent; border-right: 2px solid transparent; border-bottom: 2px solid transparent; -webkit-transition: .2s; transition: .2s; }

.custom-checkbox [type="checkbox"] + span:before { content: ''; position: absolute; top: 0; left: 0; z-index: 0; width: 20px; height: 20px; margin-top: 3px; border-radius: 2px; border: 1px solid #dddddd; background: #fff; -webkit-transition: .2s; transition: .2s; }

.custom-checkbox [type="checkbox"]:checked + span:after { border-right: 2px solid #000; border-bottom: 2px solid #000; -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transform-origin: 100% 100%; transform-origin: 100% 100%; }

.custom-checkbox [type="checkbox"]:checked + span:before { background: #fff; }

.custom-checkbox [type="checkbox"]:not(:checked):disabled + span:before { border: none; background-color: rgba(0, 0, 0, 0.42); }

.custom-checkbox [type="checkbox"]:checked:disabled + span:before { border-right: 2px solid rgba(0, 0, 0, 0.42); border-bottom: 2px solid rgba(0, 0, 0, 0.42); }

input[type="text"], textarea { width: 100%; border: 1px solid #dddddd; padding: 15px; }

.question-form { overflow: hidden; font-family: '맑은 고딕'; }
.question-form .question-body { overflow: hidden; padding-top: 40px; border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; background: url(../../images/question_foot.png) no-repeat left bottom; }
.question-form .question-body .left-form { float: left; width: 50%; padding-right: 35px; }
.question-form .question-body .left-form:after { display: block; content: ''; clear: both; }
.question-form .question-body .right-form { float: right; width: 50%; padding-left: 35px; }
.question-form .question-body .right-form:after { display: block; content: ''; clear: both; }
.question-form .question-body .question-ti { margin-bottom: 30px; font-size: 20px; font-weight: bold; }
.question-form .question-body .form-item > ul > li { margin-bottom: 20px; min-height: 90px; }
.question-form .question-body .form-item > ul > li strong { display: block; margin-bottom: 10px; font-size: 15px; font-weight: bold; }
.question-form .question-body .form-item > ul > li strong span { color: #ec6941; font-weight: 500; }
.question-form .question-body .form-item > ul > li .check-form { height: 53px; line-height: 53px; display: table; width: 100%; }
.question-form .question-body .form-item > ul > li .check-form label { display: table-cell; width: 33%; }
.question-form .question-body .form-item > ul > li .data-form .calend_start, .question-form .question-body .form-item > ul > li .data-form .calend_end { width: 48%; }
.question-form .question-body .form-item > ul > li .data-form .calend_start { float: left; }
.question-form .question-body .form-item > ul > li .data-form .calend_end { float: right; }
.question-form .question-foot { margin-top: 40px; }
.question-form .question-foot .btn-wrap { margin: 40px 0; text-align: center; }
.question-form .question-foot .btn-wrap button { width: 190px; height: 55px; line-height: 55px; color: #fff; font-size: 20px; background: #06090b; }

/*# sourceMappingURL=project.css.map */
