@charset "UTF-8";
@import "../import/import";


.inner{
	max-width:$grid-width;
	margin:0 auto;
}
.comm-p{
	padding:0 15px;
}
/*
** PROGRASS
*/
#docLoad{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100vw;
	height:100vh;
	z-index:200;
	.background-effic{
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
	}
	.bg-1{
		z-index:10;
		background-color:#fff;
	}
	.bg-2{
		z-index:9;
		background-color:gray;
	}
}


/* 기본구조 */
html,
body{
	height:100%;
	width:100%;
}
/* 
* 구조 : Header 
*/
#brand_header{
	z-index:20;
	&.full-page-2{
		position:fixed;
		background-color:#000;
		height:55px;
		.hamburger,
		.ci{
			top:10px;
			transition:all 0.5s ease-in;
		}
		.hamburger,{
			top:22px;
		}
	}

}
/* 
* 구조 : Nav 
*/
.ci{
	position:fixed;
	left:55px;
	top:55px;
	z-index:20;
	a{
		display:block;
		width:35px;
		height:35px;
		background:url(../../images/brand.png);
	}
}
.hamburger{
	position:fixed;
	right:55px;
	top:55px;
	z-index:20;
	#hamburger{
		display:block;
		position:relative;
		width:16px;
		height:10px;
		span{
			display:block;
			width:16px;
			height:2px;
			background-color:#fff;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	        background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	        opacity 0.55s ease;
			&.line-1{
				transform-origin:0 0;
				margin-bottom:6px;	
			}
			&.line-2{
			
			}
		}
		&:hover{
			.line-1{
				transform: rotateZ(-45deg) translate(-4px, 3px)
			}
			.line-2{
				transform: rotateZ(45deg) translate(-7px, -5px)
			}
		}
	}
}
#nav{
	position:fixed;
	width:100vw;
	height:100vh;
	z-index:-1;
	display:none;
	ul{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width:100%;
		height:100%;
		li{
			padding:1vw;
			opacity:0;
			position:relative;
			left:-5%;
			a{
				display:block;
				color:#fff;
				font-size:2vw;
				text-transform: uppercase;
				&:hover{
					color:transparent;-webkit-text-stroke: 1px #fff;
				}
			}
		}
	}
}
.gnb_dimmed{
	position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    background-color: transparent;
    border: 0 solid #000;
    box-sizing: border-box;
    -webkit-transition: border .3s ease-in, background 0s linear;
    transition: border .3s ease-in, background 0s linear;
}

.gnb-open{
	#nav{
		z-index:5;
		display:block;
	}
	.gnb_dimmed{
		z-index:4;
		border-width: 50vh 50vw !important;
	    background-color: #000;
	    -webkit-transition: border .3s ease-in, background 0s linear .3s;
	    transition: border .3s ease-in, background 0s linear .3s;
	}
}




/*
** 서브레이아웃
*/
.content-head{
	position:relative;
	margin-top:50px;
	.inner{
		position:relative;	
	}
	h1{
		font-family:$font2;
		color:#202020;
		font-size:48px;
		line-height:1;
	}
	p{
		color:#626262;
		font-family:'';
		font-size:15px;
		padding:15px 0 0;
		margin-bottom: 55px;
		a{
			padding-bottom: 5px;
			border-bottom: 1px solid #626262;
		}
	}
	.fullname{
		position:absolute;
		right:0;
		top:0;
		span{
			color:#bbbbbb;
			font-weight:bold;
			font-size:18px;
			strong{
				color:#1c9dce;
			}
		}
	}
	.head-line{
		position:absolute;
		right:0;
		top:15px;
		height:1px;
		width:22%;
		background-color:#eee;
	}	
}
.content-wrap{
	margin:0 auto;
	max-width:$grid-width;
}

.nav-page{
	position:relative;
	z-index:10;
	height:55px;
	background:none;
	.ci{
		top:10px;
	}
	.hamburger{
		top:22px;
	}
}

.header-wrap{
    background-color:#000;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:55px;
   	z-index:6;
}

#ucsContent{
	position:relative;
	z-index:9;
}
